body {
    padding: 60px 60px 60px 100px;
    font-family: PF Regal,Georgia,serif;
    font-size: 16pt;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

p, li {
    margin: 0 0 14px;
    line-height: 32px;
    font-family: inherit;
}

ol, ul {
    padding-left: 35px;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

ol li {
    padding-left: 10px;	
    font-family: inherit;
}

ul li {
    padding-left: 5px;	
    font-family: inherit;
}

code, *[class^='lang-'] span, *[class^='lang-'] pre {
    font-family: JB Mono, monospace !important;
}

*[class^='lang-'] {
    padding: 4px 0px 14px 0px;
}


*[class^='lang-'] > div {
    border-left-color: #eee;
    border-left-style: dotted;
    border-left-width: 3px;
    padding-left: 25px;
}

code {
    font-size: 14px;
    border: gainsboro;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    color: darkslateblue;
}

*[class^='lang-'] span, *[class^='lang-'] pre {
    font-size: 13px;
    line-height: 20px;
}

p a, li a {
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 -1px #b88b59;
}

p img {
    width: 95%;
}

p (:has img) {
    text-align: center;
}

blockquote {
    background-color: lavenderblush;
    padding-left: 20px;
    border-left: 1px solid rgba(0,0,0,.08);
}

blockquote p {
    margin: 16px 0;
    padding: 12px 12px 13px;
    font-family: inherit;
}

blockquote p code {
    font-family: consolas, monospace;
    font-size: 17px;
    background-color: aliceblue;
    padding: 4px 6px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: inherit;
}

h1 {
    font-size: 40px;
    font-family: PF Regal,Georgia,serif;
    font-weight: 300;
    margin: 40px 0 20px 0;
    border-bottom-style: ridge;
    padding-bottom: 10px;
}

h1 b {
    font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 42px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

h3 {
    margin: 30px 0 10px 0;
    font-size: 17pt;
    font-weight: 400;
}

h4 {
    margin: 20px 0 10px 0;
    font-size: 16pt;
    font-weight: 400;
}

/* Fonts */

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-RegularA.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-RegularA'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularA.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularA.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-Bold.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-Bold'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Bold.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Bold.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-Medium.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-Medium'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Medium.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Medium.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-BlackItalic.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-BlackItalic'),
        url('{RES_PATH}/fonts/PFRegalTextPro-BlackItalic.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-BlackItalic.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-Black.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-Black'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Black.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Black.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal UBlack';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-UBlack.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-UBlack'),
        url('{RES_PATH}/fonts/PFRegalTextPro-UBlack.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-UBlack.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-UBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-MediumItalic.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-MediumItalic'),
        url('{RES_PATH}/fonts/PFRegalTextPro-MediumItalic.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-MediumItalic.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-UBlackItalic.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-UBlackItalic'),
        url('{RES_PATH}/fonts/PFRegalTextPro-UBlackItalic.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-UBlackItalic.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-UBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-RegularAItalic.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-RegularAItalic'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularAItalic.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularAItalic.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularAItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-BoldItalic.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-BoldItalic'),
        url('{RES_PATH}/fonts/PFRegalTextPro-BoldItalic.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-BoldItalic.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*  Regular B *
@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-RegularBItalic.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-RegularBItalic'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularBItalic.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularBItalic.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularBItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Regal';
    src: url('{RES_PATH}/fonts/PFRegalTextPro-RegularB.eot');
    src: local('{RES_PATH}/fonts/PFRegalTextPro-RegularB'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularB.woff2') format('woff2'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularB.woff') format('woff'),
        url('{RES_PATH}/fonts/PFRegalTextPro-RegularB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}              */